<div *ngFor="let badge of badges">
    <img src={{badge.logo}} width="100px">
    <input type="checkbox" value={{badge.price}} (change)="onSelect($event)">
</div>

<section>
    <h3>Quantity</h3>
    <select (change)="onSelect($event)">
        <option>Choisir une option</option>
        <option value=120>1</option>
        <option value=240>2</option>
        <option value=360>3</option>
        <option value=480>4</option>
        <option value=600>5</option>
    </select>
</section>
<section>
    <h3>Total price : {{totalPrice}}</h3>

</section>